html, body {
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 100px; /* adjust the pixel amount here for your top navigation bar height */
}


@font-face { font-family: Yasashii; src: url('Yasashii.ttf'); } 
@font-face { font-family: Cyrene; src: url('Cyrene.otf'); } 
@font-face { font-family: Molika; src: url('Molika.ttf'); }
@font-face { font-family: PingFang; src: url('PingFang Regular.ttf'); }  

body{
    color: #fff;
    background-color: #DBB043;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap:5vh;
}

strong {
    font-weight: 600;
}

.logo a{
    font-size:2em;
    font-family:Yasashii;
    color:white;
    border:1px solid white;
    padding:10px;
    text-decoration: none;
}

h1{
    font-family: Yasashii;
    font-size: 6em;
    font-weight: bolder;
    margin:0;
    color:#ffdd56;
}

#title .title3{
    font-size:1.7em;
}

h2{
    font-family: Yasashii;
    font-size:3em;
}

#title h2{
    margin:0;
}

p{
    font-family:Montserrat;
    font-size:1.5em;
    font-weight:500;
    line-height: 1.5em;
}


#title p{
    font-size:2em;
    margin:0;
}

h3{
    font-family:Cyrene;
    font-size: 6em;
    font-weight: 800;
    color:#ffdd56;
    margin:0;
     
    }

    


span{
    font-family:Molika;
    font-size:1.5em;
}


 .navbar {

    overflow: hidden;
    width: 100%;
     position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    color:white;
    height:80px;
    background:rgba(0,0,0,.6);
backdrop-filter: blur(50px);  
    
  }

  .navbar ul{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100%;
}


.navbar li a{
    color:white;
    font-family: Montserrat;
    text-decoration:none;
    font-size:1.4em;
    

}

.navbar li a:hover{
    color:#ffdd56;
    font-weight:600;
    text-decoration: wavy underline;


}
  
  .nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-link {
    display: block;
    /* padding: 14px 20px; */
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
    position: fixed;
    right: 20px;

    z-index:3000;
  }

  
  
  .bar {
    background-color: white;
    height: 3px;
    width: 25px;
  }
  
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: flex;

      
   
    }
    
    .navbar{
        position:fixed;
        backdrop-filter: none;
  
        
    }

    
    .nav-list {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: -200%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #333;
      overflow-y: auto;
      transition: top 0.5s;
      z-index:2000;
    }
    
    .nav-list.active {
      top: 0;
      flex-direction:column;

    }
    
    .nav-link {
      padding: 20px;
      font-size: 24px;
    }
  } 



.main-container{
    margin-top:150px;
    width: 100%;
    height: 600vh;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    position: relative;
    /* z-index:1000; */

}


.viewport {
    width: 70vw;
    height: 90vh;
    border-radius: 30px;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    position: sticky;
    position: sticky;
    top: 5vh;
    overflow: hidden;

  }

  #sections{
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    text-align:center;
    background-color:#0090bc;
    border-radius: 30px;

  }



#title{
    height: 90vh;
    background-image:url(img/background-sky.jpeg);
    background-position: 50% 100%;
    background-size: auto;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    gap:3vh;
}

#intro {
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex: none;
    justify-content: top;
    align-items: center;
    position: relative;
    z-index:1000;
  }

  #recap {
    flex-direction: column;
    flex: none;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
    margin-top:-20vh;
  }

  .space{
    height:10vh;

}

.cloud1{
    background-image:url("img/cloud-1.png");
    z-index: 2;
    background-size: contain;
    background-repeat:no-repeat;
    width:50vw;
    height:60vh;
    top:-30vh;
    right:-40vw;
    position:relative;
}

.cloud2{
    background-image:url("img/cloud-1.png");
    z-index: 2;
    background-size: contain;
    background-repeat:no-repeat;
    width:50vw;
    height:60vh;
    top:-70vh;
    right:20vw;
    position:relative;
}

.cloud3{
    background-image:url("img/cloud-2.png");
    z-index: 2;
    background-size: contain;
    background-repeat:no-repeat;
    width:40vw;
    height:50vh;
    justify-self:bottom;
    margin:auto; 
    position:relative;
    margin-top:-20vh
}





.text-recap{
    width:100%;
    margin-bottom:20vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    position:relative;
    z-index:1000;
}



.pola-container div{
    transition: transform 1s;
}

.pola1, .pola2, .pola3, .pola4, .pola5, .pola6, .pola7{
    background-size: contain;
    background-repeat:no-repeat;
    width:350px;
    height:400px;
    margin-bottom:20px;
    z-index:1000;
    position:relative;

}

.pola1{
    background-image:url(/img/Palaroid1.png);


}

.pola2{
    background-image:url(/img/Palaroid2.png);


}

.pola3{
    background-image:url(/img/Palaroid3.png);

}

.pola4{
    background-image:url(/img/Palaroid4.png);

}

.pola5{
    background-image:url(/img/Palaroid5.png);

}

.pola6{
    background-image:url(/img/Palaroid6.png);


}

.pola7{
    background-image:url(/img/Palaroid7.png);


}




#invitation{
    display: flex;
    position: relative;
    flex-direction: column;
    flex: none;
    justify-content: flex-start;
    align-items: center;

}

.heart{
    font-size: 200px;
}

.cloud4{
    background-image: url("img/cloud-big.png");
    background-size:stretch;
    height:400px;
    width:100%;
    border-radius: 0px 0px 30px 30px;
    
}

section{
    width:50vw;
    text-align:center;
    position:relative;
    /* z-index:1000; */
}


section p{
    font-weight:300;
}




.nav-bar li{
    font-family:Montserrat;
    font-size:1.5em;
    list-style:none;
    line-height:2em;
    cursor:pointer;

}

.nav-bar li.clicked{
    color: #ffdd56;
    transition: color 1s;
    transition: padding-left 1s;
    padding-left:10px;

}

.nav-bar{
    text-align:left;
    border-left:1px solid white;
    width:100%;
    margin:0;

}

#festivites{
    width:80vw;
}

.days{
    display:flex;
    flex-direction:row;
    justify-content: center;
    list-style:none;
    font-size:1.8em;
    margin:0;
    padding:0;

}

.days button{
    background-color:transparent;
    border:none;
    color:white;
    cursor:pointer;
    font-family: yasashii;
    font-size:2em;
    transition-duration:1s;



}




.bullet{
    margin-left:10px;
    margin-right:10px;
    font-size:2em;
}

.program-container{
    margin-top:8vh;
    display:flex;
    flex-direction:row;

}

.program-list{
    flex: 1 1 50%;
    border-left:1px solid white;
    padding:1%;
    font-size:1.8em;
    text-align:left;
    line-height: 2em;
    display:flex;
    justify-content: left;
    align-items: center;

}

.text-section-2 span{
    font-family:Cyrene;
    color:yellow;

}

.program-list ul{
    margin:0;
    padding:0;
    list-style: none;
    width:100%;

}

.program-list button{
    text-align:left;
    background-color:transparent;
    border:none;
    color:white;
    cursor:pointer;
    font-family: Montserrat;
    font-size:1em;
    transition-duration:1s;
  
}

.days button:hover, .days button.clicked{
    color: #F0C4AF;
    text-decoration: underline;

  }

  .program-list button.clicked, .program-list button:hover{

    margin-left:5%;
 
 
  }

  .program-list button.clicked{
    color: #F0C4AF;

  }






.program-content{
    flex:1 1 50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#D9D9D9;
    border-radius:50px;
    height:50vh;
}

.text-wedding{

    color:#3F2E3A;
    padding:40px;

}






.festivites-title{
    display:flex;
    flex-direction:column;
    text-align:center;
}



#transport{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.title-section{
    margin-bottom:5%;
}
.title-section h2{
    margin:0;
}
.img-domaine{

    height:400px;
    opacity:80%;
    margin:0;
    margin-top:5%;
    margin-bottom:5%;
}

.mapwrapper {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 5%;
    overflow: hidden;
    margin: 50px auto 50px auto;
  }
  
  .googlemap {
    width: 100%;
    height: 100%;
  }

  .section-icon{
    font-size:10em;
    margin:0;
  }
  .list-sleep{
    border:none;
    text-align:center;
    font-family:Montserrat;
    margin-left:0;
    line-height:3em;
    margin-top:5%;
    margin-bottom:5%;
    padding:0;

}

.list-sleep li{
    list-style: none;

}

.list-sleep a{
    font-family:Montserrat;
    font-size: 1.5em;
    color:white;
}

.list-sleep div{
    font-size:1em;
}




.faq-answer {

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  

  }


  
  .arrow {
    transition: transform 0.2s ease-out;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .5em;
    vertical-align: middle;
    border-top: .375em solid transparent;
    border-bottom: .375em solid transparent;
    border-left: .375em solid currentColor;
  }
  
  .rotate {
    transform: rotate(90deg);
  }
  

 #faq{
width:70vw;

 }

  .faq-item{
    margin-top:2%;
  }
  .faq-item button{
    width:100%;
    background-color:transparent;
    color:white;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding:0;
    border:none;

  }

  .faq-question{
text-align:left;

  }

  .faq-question h2{
    font-family:Cyrene;
    font-weight:100;
  }
  
  .faq-answer{
    border-bottom:1px solid white;
    text-align:justify;
  }

  .faq-answer a{
    color:white;

  }

  .link {
	width: 10.5rem;
	height: 10.5rem;
	display: inline-block;
	font: 300 1.55rem/1.4 "Josefin Sans"; 
	text-transform: uppercase;
	letter-spacing: 0.12em;
	word-spacing: 0.5em;
	text-decoration: none;
    margin-top:3%;
    position:relative;
    z-index:100;
}


.link__svg {
	width: 100%;
	height: auto;
	transform-box: fill-box;
	fill: #000000;
	stroke: #000000;
	stroke-width: 0.05em;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.link__cloud {
	transform-origin: 50% 50%;
	animation: rotate normal infinite 60s linear;
	fill: #ffdd56;
}

.link__face,
.link__arrow {
	transform-origin: 50% 50%;
	transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}

.link:hover .link__face,
.link:hover .link__arrow {
	transform: scale(1.1);
	transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.link__arrow {
	stroke-width: 0.075em;
}

.link__text {
	animation: rotateReverse normal infinite 20s linear;
	transform-origin: 50% 50%;
}

.link:hover .link__text {
	animation-play-state: paused;
}

.link--alt {
	font-size: 1.15rem;
	letter-spacing: 0;
	word-spacing: 0;
    
} 

 /* @keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

@keyframes rotateReverse {
	to {
		transform: rotate(-360deg);
	}
}  */

.signature{
    font-size: 0.9em;
}


/*Media queries

/* Mobile Phones */
@media (max-width: 600px) {



    .main-container{
        height:400vh;
    }

    .viewport{
        width:90vw;

    }

 section{
        width:90vw;
    }

.googlemap{
    width:300px;
}



    h1{
        font-size: 3em;
    }

    h2{
        font-size:2em;
    }

#title p{
    font-size:1.3em;
}


.space{
    height:0vh;

}


.title4{
    padding:10%;
}

#intro{
    height:30vh;
}

#recap{
    margin-top:-10vh;
}



.pola1, .pola2, .pola3, .pola4, .pola5, .pola6, .pola7{
    height:200px;
    width:150px;
}



.program-container{
    flex-direction:column;
}

    h3{
        font-size:3em;
    }

    p{
        font-size:1.2em;
    }

    .days button{
        font-size:0.8em;
    }

    .program-list li{
        font-size:0.5em;

    }

    .text-wedding{
        font-size:1.2em;
        padding:20px;

    }
    
    .program-content{
        height:60vh;
    }



    .img-domaine{
        height:20vh;
    }

    .content-section-2{
    width:90vw;

    }

    .mapwrapper{
        width:90vw;
    }

    .program-list ul{
 text-align:left;
 line-height:1.5em;
    }

    .days button{
        font-size: 1em;
    }

    .program-list button{
        text-align:left;
        font-size:1.4em;
    }
 .program-container{
    margin-top:10%;
 }

 .program-content{
    margin-top:5%;
 }
 .list-sleep li{

    line-height:2.3em;
    text-align:center;
 }

 .list-sleep a{
    font-size:1.3em;
 }

 .days button:hover, .days button.clicked,  .program-list button.clicked{
    color: #977464;

  }
#title .title3{
    font-size:1.4em;
}

.cloud3{
    top:150px;
}

.faq-question{
    font-size: 1.1em;
}

.section-icon{
    font-size:6em;
    margin:0;
}





}

/* Tablets */
@media (min-width: 600px) and (max-width: 768px) {
    h1{
        font-size: 3.5em;
    }

    h2{
        font-size:2em;
    }
#title p{
    font-size:1.5em;
}

    h3{
        font-size:3.5em;
    }

    p{
        font-size:1.3em;
    }

    #title .title3{
        font-size:1.5em;
    }

    .days button{
        font-size:1.3em;
    }

    .program-list li{
        font-size:0.8em;
    }

    .text-wedding{
        font-size:1.2em;
        padding:20px;

    }
    
    .program-content{
        height:60vh;
    }



    .img-domaine{
        height:25vh;
    }

    .section-icon{
        font-size:6em;
        margin:0;
      }
}


/* Medium Screens */
@media (min-width: 769px) and (max-width: 1023px) {
    h1{
        font-size: 4em;
    }

    h2{
        font-size:2.5em;
    }


    h3{
        font-size:3em;
    }

    p{
        font-size:1.4em;
    }

    .days button{
        font-size:1.3em;
    }

    .program-list li{
        font-size:0.8em;
    }

    .text-wedding{
        font-size:1.2em;
        padding:20px;

    }
    
    .program-content{
        height:60vh;
    }

  

    .img-domaine{
        height:35vh;
    }

    @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    }
    
    @keyframes rotateReverse {
        to {
            transform: rotate(-360deg);
        }
    } 

}

/* Large Screens */
@media (min-width: 1024px) and (max-width: 1200px) {
    h1{
        font-size: 5em;
    }

    h2{
        font-size:3em;
    }

    h3{
        font-size:4em;
    }

    p{
        font-size:1.4em;
    }

    .days button{
        font-size:1.5em;
    }

    .program-list li{
        font-size:0.8
    }

    .program-content{
        height:100%;
    }

    @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    }
    
    @keyframes rotateReverse {
        to {
            transform: rotate(-360deg);
        }
    } 

}

@media (min-width: 1200px) {

    @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    }
   
    
    @keyframes rotateReverse {
        to {
            transform: rotate(-360deg);
        }
    } 

}